body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo {
  width: 30%;
  margin: 10px 35%;
}

.search-bar input {
  width: 75%;
  margin: 30px 12.5%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
